.container {
  width: 1200px;
  margin: 0 auto;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: #2c3e50;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  margin: 30px 0;
}
