.container {
  max-width: 1200px;
  margin: 0 auto;
}
.div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px;
  color: yellowgreen;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}
