* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d1,
.d2,
.d3 {
  padding: 100px;
  border-radius: 50%;
  border-style: solid;
}
