.container {
  width: 1200px;
  margin: 0 auto;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: #2c3e50;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  margin: 30px 0;
}

.boxs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.box1{
  width: 50px;
  height: 300px;
  border-top-left-radius:40px ;
  border-top-right-radius:40px ;
  background: #320505;
}

.box2{
  position: absolute;
  top: 250px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
}

.btns{
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}
button{
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: red;
  font-weight: 700;
  border-radius: 15px;
}